div {
  background-color: #f00;
  width: 200px;
  height: 200px;
}

div element {
  background-color: #fff;
}

div #element {
  background-color: #fff;
}

div .element {
  background-color: #fff;
}

#parent {
  background: green;
}

#parent #childOne {
  background: yellow;
  font-size: 1em;
}

#parent #childTwo {
  font-weight: 200;
}

#parent #childTwo #innerChild .content {
  background: blue;
}

#parent.hasClass {
  background: blue;
}

.content {
  background: green;
  font-size: 2em;
}

#parent .content1 .child, #parent .content2 .child {
  background: blue;
  font-size: 30px;
}

.content2 {
  line-height: 2em;
}

#id .sign .child, #id video .child, #id img .child, #id elementOne .child, #id elementTwo .child, #id elementThree .child {
  background: yellow;
  font-size: 30px;
}
