div {
  background-color: #f00;
  width: 200px;
  height: 200px;
}

div element {
  background-color: #fff;
}

div #element {
  background-color: #fff;
}

div .element {
  background-color: #fff;
}

#parent {
  background: green;
}

#parent #childOne {
  background: yellow;
  font-size: 1em;
}

#parent #childTwo {
  font-weight: 200;
}

#parent #childTwo #innerChild .content {
  background: blue;
}

#parent.hasClass {
  background: blue;
}

.content {
  background: green;
  font-size: 2em;
}

#parent .content1 .child, #parent .content2 .child {
  background: blue;
  font-size: 30px;
}

.content2 {
  line-height: 2em;
}

#id .sign .child, #id video .child, #id img .child, #id elementOne .child, #id elementTwo .child, #id elementThree .child {
  background: yellow;
  font-size: 30px;
}

body {
  color: blue;
  background: green;
  line-height: 1.8;
}

div #main {
  color: blue;
  background: green;
  line-height: 1.8;
}

div.arguments {
  color: green;
  background: green;
  line-height: 1.8;
}

div.argVar {
  color: brown;
}

div.multarguments {
  color: green;
  background: blue;
  line-height: 1.8;
}

div.boxshadow {
  -webkit-box-shadow: grey;
  -moz-box-shadow: grey;
  -o-box-shadow: grey;
  box-shadow: grey;
}

div.boxshadow {
  -webkit-box-shadow: grey, blue;
  -moz-box-shadow: grey, blue;
  -o-box-shadow: grey, blue;
  box-shadow: grey, blue;
}

@-webkit-keyframes myAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes myAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes myAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes myAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.div1 {
  background: 3;
  font-size: 4;
}

.div2 {
  background: 6px 7px 8px blue;
  height: 2px;
}

.div3 {
  background: 1px 2px 3px green, 1em 2em 3em black, 3px 2px 1px yellow;
}

.div4 {
  background: comma;
}

.div5 {
  background: 1px 2px 3px black 1px 2px 3px green 6px 7px 8px blue 3px 2px 1px yellow;
}

.div6 {
  background: 1px 2px 3px black, 1px 2px 3px green, 6px 7px 8px blue, 3px 2px 1px yellow;
}

.div7 {
  background: Helvetica Arial sans-serif "opensans";
}

.div8 {
  background: Helvetica, Arial, sans-serif, "opensans";
}

.div9 {
  background: 2;
}

.div10 {
  background: 1px 4em black, 2px 3em green, 3px 2em blue, 4px 1em red;
}

.div11 {
  background: 1px 4em black, 2px 3em green, 3px 2em blue, 4px 1em red;
}
