//variables//

$colour : #f00; $width: 200px; $height: 200px;

$stringSelector: element;

$list: 1px 1px 3px black, 3px 3px 4px #ccc;

div {
  background-color: $colour;
  width: $width;
  height: $height;
}

div #{$stringSelector}{
  background-color: #fff;
}

div ##{$stringSelector}{
  background-color: #fff;
}

div .#{$stringSelector}{
  background-color: #fff;
}

//inheritated selectors//

#parent{
  background: green;

  #childOne{
    background: yellow;
    font-size: 1em;
  }

  #childTwo{
    font-weight: 200;

    #innerChild .content {
      background: blue;
    }
  }

  &.hasClass {
    background: blue;
  }
}

//inheritated properties//

%shared {
  background: green;
  font-size: 2em;
}

.content { @extend %shared;}

//

#parent %garett .child {
  background: blue;
  font-size: 30px;
}

.content1 {@extend %garett;}

.content2 {
  @extend %garett;
  line-height: 2em;
}

//

#id %billyKid .child {
  background: yellow;
  font-size: 30px;
}

$list: elementOne, elementTwo, elementThree;

.sign, video, img, #{$list}{
  @extend %billyKid;
}


//mixins//

@mixin cssProperties {
  color: blue;
  background: green;
  line-height: 1.8;
}

body {
  @include cssProperties();
}

//

@mixin withInheritance {
  #main{
    color: blue;
    background: green;
    line-height: 1.8;
  }
}

div {
  @include withInheritance();
}

//

@mixin withArguments($argOne){
  color: $argOne;
  background: green;
  line-height: 1.8;
}

div.arguments {
  @include withArguments(green);
}

//

$colorVar: brown;

@mixin withArgumentsFromVariable($arg){
  color: $arg;
}

div.argVar {
  @include withArgumentsFromVariable($colorVar);
}

//

@mixin withMultArguments($argOne, $argTwo){
  color: $argOne;
  background: $argTwo;
  line-height: 1.8;
}

div.multarguments {
  @include withMultArguments(green, blue);
}

//

@mixin boxShadow($shadow){
 -webkit-box-shadow: $shadow;
 -moz-box-shadow: $shadow;
 -o-box-shadow:$shadow;
  box-shadow: $shadow;
}

div.boxshadow {
  @include boxShadow(grey);
}

//
@mixin boxShadowMult($shadow...){
 -webkit-box-shadow: $shadow;
 -moz-box-shadow: $shadow;
 -o-box-shadow:$shadow;
  box-shadow: $shadow;
}

div.boxshadow {
  @include boxShadowMult(grey, blue);
}

//

@mixin keyframes($name){
  @-webkit-keyframes #{$name}{
@content;
  }

  @-moz-keyframes #{$name}{
@content;
  }

  @-o-keyframes #{$name}{
@content;
  }

  @keyframes #{$name}{
@content;
  }
}

@include keyframes(myAnim){
  0% {opacity:0}
  100% {opacity:1}
};

// list functions//
$list1: 200px;
$list2: 1px 2px 3px black;
$list2comma: 1px 2px 3px black,;
$list3: Helvetica, Arial, sans-serif;

$nestedList: 1px 2px 3px green, 6px 7px 8px blue, 3px 2px 1px yellow;

$zip1:1px 2px 3px 4px;
$zip2:4em 3em 2em 1em;
$zip3: black green blue red;

.div1{
  background: length($list3);
  font-size: length($list2);
}

.div2{
  background: nth($nestedList, 2);
  height: nth($list2, 2);
}

.div3 {
  background: set-nth($nestedList, 2, 1em 2em 3em black);
}

.div4{
  background: list-separator($list3);
}

.div5{
  background: join($list2, $nestedList);
}

.div6{
  background: join($list2comma, $nestedList, comma);
}

.div7{
  background: join($list3, 'opensans', space);
}

.div8{
  background: append($list3, 'opensans');
}

.div9{
  background: index($list3, Arial);
}

.div10{
  background: zip(
  1px 2px 3px 4px,
  4em 3em 2em 1em,
  black green blue red
  );
}

.div11{
  background: zip($zip1, $zip2, $zip3);
}
