//variables//

$colour : #f00; $width: 200px; $height: 200px;

$stringSelector: element;

$list: 1px 1px 3px black, 3px 3px 4px #ccc;

div {
  background-color: $colour;
  width: $width;
  height: $height;
}

div #{$stringSelector}{
  background-color: #fff;
}

div ##{$stringSelector}{
  background-color: #fff;
}

div .#{$stringSelector}{
  background-color: #fff;
}

//inheritated selectors//

#parent{
  background: green;

  #childOne{
    background: yellow;
    font-size: 1em;
  }

  #childTwo{
    font-weight: 200;

    #innerChild .content {
      background: blue;
    }
  }

  &.hasClass {
    background: blue;
  }
}

//inheritated properties//

%shared {
  background: green;
  font-size: 2em;
}

.content { @extend %shared;}

//

#parent %garett .child {
  background: blue;
  font-size: 30px;
}

.content1 {@extend %garett;}

.content2 {
  @extend %garett;
  line-height: 2em;
}

//

#id %billyKid .child {
  background: yellow;
  font-size: 30px;
}

$list: elementOne, elementTwo, elementThree;

.sign, video, img, #{$list}{
  @extend %billyKid;
}


//mixins//

@mixin cssProperties {
  color: blue;
  background: green;
  line-height: 1.8;
}

body {
  @include cssProperties();
}

//

@mixin withInheritance {
  #main{
    color: blue;
    background: green;
    line-height: 1.8;
  }
}

div {
  @include withInheritance();
}

//

@mixin withArguments($argOne){
  color: $argOne;
  background: green;
  line-height: 1.8;
}

div.arguments {
  @include withArguments(green);
}

//

$colorVar: brown;

@mixin withArgumentsFromVariable($arg){
  color: $arg;
}

div.argVar {
  @include withArgumentsFromVariable($colorVar);
}

//

@mixin withMultArguments($argOne, $argTwo){
  color: $argOne;
  background: $argTwo;
  line-height: 1.8;
}

div.multarguments {
  @include withMultArguments(green, blue);
}

//

@mixin boxShadow($shadow){
 -webkit-box-shadow: $shadow;
 -moz-box-shadow: $shadow;
 -o-box-shadow:$shadow;
  box-shadow: $shadow;
}

div.boxshadow {
  @include boxShadow(grey);
}

//
@mixin boxShadowMult($shadow...){
 -webkit-box-shadow: $shadow;
 -moz-box-shadow: $shadow;
 -o-box-shadow:$shadow;
  box-shadow: $shadow;
}

div.boxshadow {
  @include boxShadowMult(grey, blue);
}

//

@mixin keyframes($name){
  @-webkit-keyframes #{$name}{
@content;
  }

  @-moz-keyframes #{$name}{
@content;
  }

  @-o-keyframes #{$name}{
@content;
  }

  @keyframes #{$name}{
@content;
  }
}

@include keyframes(myAnim){
  0% {opacity:0}
  100% {opacity:1}
};

//
